# Technical Validation Report

## Summary Metrics
| metric            |    value |
|:------------------|---------:|
| f1_macro          | 0.954026 |
| balanced_accuracy | 0.95245  |
| recall            | 0.95245  |
| specificity       | 0.995286 |
| ppv               | 0.959763 |
| npv               | 0.995401 |
| precision         | 0.959763 |
| mcc               | 0.949211 |

## Per-fold Metrics
| metric            |   fold |    value |
|:------------------|-------:|---------:|
| f1                |      1 | 0.962484 |
| f1                |      2 | 0.973864 |
| f1                |      3 | 0.9338   |
| f1                |      4 | 0.893867 |
| f1                |      5 | 0.978477 |
| f1                |      6 | 0.978048 |
| f1                |      7 | 0.938129 |
| f1                |      8 | 0.903936 |
| f1                |      9 | 0.981626 |
| f1                |     10 | 0.979725 |
| f1                |     11 | 0.973623 |
| f1                |     12 | 0.950731 |
| balanced_accuracy |      1 | 0.958027 |
| balanced_accuracy |      2 | 0.971241 |
| balanced_accuracy |      3 | 0.927257 |
| balanced_accuracy |      4 | 0.887798 |
| balanced_accuracy |      5 | 0.982105 |
| balanced_accuracy |      6 | 0.979064 |
| balanced_accuracy |      7 | 0.932639 |
| balanced_accuracy |      8 | 0.90168  |
| balanced_accuracy |      9 | 0.982872 |
| balanced_accuracy |     10 | 0.983926 |
| balanced_accuracy |     11 | 0.973623 |
| balanced_accuracy |     12 | 0.949164 |
| sensitivity       |      1 | 0.958027 |
| sensitivity       |      2 | 0.971241 |
| sensitivity       |      3 | 0.927257 |
| sensitivity       |      4 | 0.887798 |
| sensitivity       |      5 | 0.982105 |
| sensitivity       |      6 | 0.979064 |
| sensitivity       |      7 | 0.932639 |
| sensitivity       |      8 | 0.90168  |
| sensitivity       |      9 | 0.982872 |
| sensitivity       |     10 | 0.983926 |
| sensitivity       |     11 | 0.973623 |
| sensitivity       |     12 | 0.949164 |
| specificity       |      1 | 0.996315 |
| specificity       |      2 | 0.996727 |
| specificity       |      3 | 0.994283 |
| specificity       |      4 | 0.990839 |
| specificity       |      5 | 0.996363 |
| specificity       |      6 | 0.996231 |
| specificity       |      7 | 0.993181 |
| specificity       |      8 | 0.990738 |
| specificity       |      9 | 0.998532 |
| specificity       |     10 | 0.998026 |
| specificity       |     11 | 0.996848 |
| specificity       |     12 | 0.995354 |
| ppv               |      1 | 0.969089 |
| ppv               |      2 | 0.977955 |
| ppv               |      3 | 0.948467 |
| ppv               |      4 | 0.905213 |
| ppv               |      5 | 0.976256 |
| ppv               |      6 | 0.977834 |
| ppv               |      7 | 0.952773 |
| ppv               |      8 | 0.914209 |
| ppv               |      9 | 0.980919 |
| ppv               |     10 | 0.978114 |
| ppv               |     11 | 0.973623 |
| ppv               |     12 | 0.962704 |
| npv               |      1 | 0.996575 |
| npv               |      2 | 0.997034 |
| npv               |      3 | 0.994694 |
| npv               |      4 | 0.991245 |
| npv               |      5 | 0.996154 |
| npv               |      6 | 0.996253 |
| npv               |      7 | 0.993373 |
| npv               |      8 | 0.990859 |
| npv               |      9 | 0.998464 |
| npv               |     10 | 0.997887 |
| npv               |     11 | 0.996848 |
| npv               |     12 | 0.995427 |
| precision         |      1 | 0.969089 |
| precision         |      2 | 0.977955 |
| precision         |      3 | 0.948467 |
| precision         |      4 | 0.905213 |
| precision         |      5 | 0.976256 |
| precision         |      6 | 0.977834 |
| precision         |      7 | 0.952773 |
| precision         |      8 | 0.914209 |
| precision         |      9 | 0.980919 |
| precision         |     10 | 0.978114 |
| precision         |     11 | 0.973623 |
| precision         |     12 | 0.962704 |
| mcc               |      1 | 0.961011 |
| mcc               |      2 | 0.966753 |
| mcc               |      3 | 0.938889 |
| mcc               |      4 | 0.899403 |
| mcc               |      5 | 0.960986 |
| mcc               |      6 | 0.960683 |
| mcc               |      7 | 0.927098 |
| mcc               |      8 | 0.898886 |
| mcc               |      9 | 0.983185 |
| mcc               |     10 | 0.977743 |
| mcc               |     11 | 0.966238 |
| mcc               |     12 | 0.949653 |